.wrap h2 .small_caus { font-size: 14px; }
.wp-core-ui .button-checkbox { margin: -2px 5px 0 0; !important; }
.wp-core-ui .button-primary { margin-left: 10px; margin-bottom: 20px; }
.red { color: #ff0000 !important; }
.green { color: #008000; }